header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-yellow);
  padding: 0.5rem 2rem;

  position: sticky;
  width: 100%;
  box-sizing: border-box;
}

.profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

header > a > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition-duration: 0.2s;
  &:hover {
    transform: translateY(-0.2rem);
  }
}

.photo-dump {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 18rem;
}

.photo-dump > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo-dump > img:nth-child(1) {
  grid-column: span 1;
}
.photo-dump > img:nth-child(2) {
  grid-column: span 1;
}
.photo-dump > img:nth-child(3) {
  grid-column: span 2;
}
.photo-dump > img:nth-child(4) {
  grid-column: span 3;
  grid-row: span 2;
}
.photo-dump > img:nth-child(5) {
  grid-column: span 1;
}
.photo-dump > img:nth-child(6) {
  grid-column: span 1;
}

.to-web-box {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  gap: 1rem;
  background-color: white;
  border-radius: 10px;
}
.to-web-box > p::before {
  content: "🐈‍⬛ ";
}
.to-web-box > p::after {
  content: " 💭 ";
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: var(--light-yellow);
}

.card-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition-duration: 0.2s;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.card > img {
  width: 100%;
  object-fit: cover;
}
.card-body {
  padding: 1rem;
  display: grid;
  gap: 0.7rem;
}

.card-body > p::before {
  content: "💫 ";
}

button {
  border: none;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
}

.button-good {
  background-color: var(--light-yellow);
  &:hover {
    background-color: rgb(255, 255, 87);
  }
}

.button-bad {
  background-color: rgb(255, 195, 195);
  &:hover {
    background-color: rgb(255, 143, 143);
  }
}

@media (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
